<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %} | Flying circus</title>
</head>
<body>
<div>
    <header>
        <div>
            <h1>Flying circus | {{ self.page_title() }}</h1>
        </div>
        <!-- logged -->
        {% if 'username' in session %}
            <div>
                <p>user: {{ session['username'] }} | <a href="{{ url_for('logout') }}">logout</a></p>
            </div>

        <!-- not logged in -->
        {% else %}
            <div>
                <p>user not logged | <a href="{{ url_for('login') }}">login</a></p>
            </div>
        {% endif %}
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
</div>
</body>
</html>



