{% extends "layout.html" %}

{% block page_title %}Login{% endblock %}

{% block content %}
    <div>
        <p>Enter data to login:</p>
        <form action="{{ url_for('login') }}" method="POST">
            <label for="email">e-mail</label>
                <input name="email" id="email" type="email" required>
            <label for="pass">password</label>
                <input name="pass" id="pass" type="password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
