{% extends "layout.html" %}

{% block page_title %}Login{% endblock %}

{% block content %}
    <div>
        <p>Enter data to login:</p>
        <form action="{{ url_for('login_data_process') }}" method="POST">
            <label for="username">e-mail</label>
                <input name="username" id="username" type="email" required>
            <label for="password">password</label>
                <input name="password" id="password" type="password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <a href="{{ url_for('index') }}">Main Page</a>
{% endblock %}
