{% extends "layout.html" %}

{% block page_title %}Test{% endblock %}

{% block content %}
    <div>
        <p>Question:</p>
        <p>{{ session['question'] }}</p>
        <p>Answers:</p>
        <form action="{{ url_for('test_data_process') }}" method="POST">
            {% for answer in session['answers'] %}
                <input type="radio" id="answer" name="answer" required><label for="answer"> {{ answer }} </label><br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
    <footer>
        <p><a href="{{ url_for('index') }}">Main Page</a></p>
    </footer>
{% endblock %}
