{% extends "layout.html" %}

{% block page_title %}Test{% endblock %}

{% block content %}
    <div>
        <h3>Question:</h3>
        {{ question }}
        <h3>Answers:</h3>
        <form action="{{ url_for('test_data_process') }}" method="POST">
            {% for answer in answers %}
                <input type="radio" id="answer" name="answer" value="{{ answer }}" required><label for="answer"> {{ answer }} </label><br>
            {% endfor %}
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}

{% block footer %}
    <a href="{{ url_for('index') }}">Main Page</a>
{% endblock %}
